# 线上环境
nginx version: nginx/1.16.1
centos: 7


# 目录配置
[root@HWCloud /]# tree ebook/ -d
ebook/
├── Ebooks
│   ├── Biomedicine
│   ├── BusinessandManagement
│   ├── ComputerScience
│   ├── EarthSciences
│   ├── Economics
│   ├── Education
│   ├── Engineering
│   ├── Environment
│   ├── Geography
│   ├── History
│   ├── Laws
│   ├── LifeSciences
│   ├── Literature
│   ├── MaterialsScience
│   ├── Mathematics
│   ├── MedicineAndPublicHealth
│   ├── Philosophy
│   ├── Physics
│   ├── PoliticalScienceAndInternationalRelations
│   ├── psychology
│   ├── SocialSciences
│   └── Statistics
└── Style
    ├── fonts
    └── theme

# 安装Nginx
[root@HWCloud /]# yum -y install nginx 

# 配置Nginx
[root@HWCloud /]# cat /etc/nginx/nginx.conf
user nginx;
worker_processes auto;
pid /run/nginx.pid;
include /usr/share/nginx/modules/*.conf;
events {
    worker_connections 1024;
}
http {
    include             /etc/nginx/mime.types;
    default_type        application/octet-stream;
    server {
        listen       80 default_server;
	    
        # 文件路径
        root /ebook/;
        
        # 开启下载站点
        autoindex on;

        # 处理跨域
        add_header Access-Control-Allow-Origin *;

        # vue-router history mode 
        try_files $uri $uri/ /index.html;
        
        location / {
        }
    }
}

# 启动nginx
[root@HWCloud /]# systemctl restart nginx

