$color-blue: #2b90d9;
$color-blue2:  #409EFF;
$color-blue3: rgba(64, 158, 255, 1);
$color-blue4: rgba(64, 158, 255, 0.5);
$color-white: #fff;
$color-gray1: #eee;
$color-gray2: #ccc;
$color-gray5: #bbb;
$color-gray3: #666;
$color-gray4: #333;
$color-black-blue: #566270;
$color-black: #000;